* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.nav_main {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  background-color: #000409;
  color: #f6f4f1;
  border-bottom: 1.5px solid #2f343a;
  position: fixed;
}

.logout {
  background-color: hsla(212, 19%, 16%, 0.6);
  border: 1px solid #2f343a;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  color: #fff; /* Adjust the color as needed */
  margin-left: 10px; /* Space from the profile picture */
  font-size: 15px; /* Adjust size as needed */
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.logout:hover {
  background-color: hsla(212, 19%, 16%);
}