* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  overflow-y: auto;
  max-height: 100vh;
}

.mainContainer {
  width: 100%;
  height: auto;
  background-color: #000409;
}

.section1 {
  height: calc(100vh - 60px);
  top: 60px;
  width: 100%;
}

.section1 > h1 {
  color: #f6f4f1;
  font-size: 8em;
}

.section1 > h1:first-child {
  margin-top: 140px;
  margin-left: 50px;
  line-height: 60%;
}

.section1 > h1:last-child {
  margin-left: 200px;
  line-height: 100%;
}

.section1 > h3 {
  color: #f6f4f1;
  margin-left: 600px;
}

.section1 > hr{
  width: 80%;
  border: 1px solid #2f343a;
}

hr {
  border: 1px solid #2f343a;
}

.section2 {
  height: 100%;
  top: 60px;
  width: 100%;
}

.section2 > h2 {
  color: #f6f4f1;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 50px;
  text-decoration: underline;
}

.innerLeft, .innerRight {
  width: 450px;
  height: auto;
  background-color: #141b23;
  display: block;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #2f343a;
}

.innerLeft {
  margin-left: 100px;
}

.innerRight {
  margin-left: 700px;
  margin-bottom: 50px;
}

.innerLeft > h3, .innerRight > h3 {
  color: #717b85;
}

.innerLeft p, .innerRight p{
  color: #f6f4f1;
  width: 400px;
}

.section3 {
  height: 100%;
  top: 60px;
  width: 100%;
  margin-bottom: 50px;
}

.section3 > h2 {
  color: #f6f4f1;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 50px;
}

.inner_sec3 {
  display: flex;
  justify-content: space-around;
  width: auto;
}

.card {
  width: 250px;
  height: auto;
  background-color: #141b23;
  padding: 10px;
  border-radius: 8px;
  color: #f6f4f1;
  border: 1px solid #2f343a;
}

.card.visible {
  opacity: 1;
  transform: translateX(0); /* Slide in from left */
}

.card > img {
  width: 30px;
  border-radius: 100%
}

.footer {
  height: auto;
  color: #f6f4f1;
  padding-top: 20px;
  padding-left: 50px;
  background-color: #0d1017;
  padding-bottom: 20px;
}

.footer ul li {
  list-style: none;
  padding-left: 10px;
}

::-webkit-scrollbar {
  width: 0.5em;
  background-color: #000409;
}

::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 100vw;
  margin-block: 0.2em;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.85);
  border: 0.15em solid black;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 100%, 0.75);
}