* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.mainContainer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding-left: 40px;
  padding-right: 10px;
  border-bottom: 1.5px solid #2f343a;
}

.logo {
  width: 30px;
  height: 30px;
}

.rightsection {
  display: flex;
}

.rightsection > button {
  background-color: hsla(212, 19%, 16%, 0.6);
  color: #f6f4f1;
  font-size: 20px;
  padding: 5px 10px;
  border: 1px solid #2f343a;
  border-radius: 4px;
  margin: 0 5px;
  cursor: pointer;
  font-weight: bold;
}

.rightsection > button:hover {
  background-color: hsla(212, 19%, 16%);
}

.rightsection > button a {
  text-decoration: none;
  color: inherit; /* Inherit the color from the button */
}

.rightsection > button a:visited {
  color: inherit; /* Ensure no purple visited color */
}

.rightsection ul {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 20px;
  list-style: none;
}

.rightsection a {
  text-decoration: none;
  color: white;
}